bin/
obj/
.vs/
.idea/
.vscode/
*.sln.ide
*.sln.iml
*.user
*.vs
*.dbmdl
*.jfm
*.bak
*.cache
*.csproj.user
*.publishsettings
*.pubxml
*.publishproj
*.pfx
*.snk
_ReSharper.*
*.resharper
*.resharper.user
*.resharper.user.*
.DS_Store
Thumbs.db
